body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero {
    background-image: url(../img/banner1.jpg);
    height: 500px;
    background-size: cover;
    background-position: left ;
    padding-top: 5px;
    
}


.img-content {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 50px;
    background-image: url('../img/logo.jpg');
    background-size: cover;
    
  
}





.hero nav ul {
    margin: 10px 40px 0 0;
    text-align: right;
}



.hero nav li {
    display: inline-block;
    list-style-type: none;
   
    margin-left: 16px;
}



.hero nav a {
   
    padding: 3px;
    display:contents;
    color: #fd960f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    
}

.hero nav a:hover {
    color: #ffffff;
}

/*body*/
body {
    font-family: "Poppins", sans-serif;
    color: #dfdfdf;
  }
  
  a {
    text-decoration: none;
    color: #ffb03b;
  }
  
  a:hover {
    color: #ffc56e;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "lato" sans-serif;
  }
  


/*cardapio*/

.specials {
    overflow: hidden;
    background-color: #0c0c0c;
  }
  
  .specials .nav-tabs {
    border: 0;
  }
  
  .specials .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #ffffff;
    border-radius: 0;
    border-right: 2px solid #fd960f;
    ;
    font-weight: 600;
    font-size: 15px;
  }
  
  .specials .nav-link:hover {
    color: #fd960f;
  }
  
  .specials .nav-link.active {
    color: #fd960f;
    border-color: #fd960f;
  }
  
  .specials .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }
  
  .specials .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .specials .details p {
    color: #ffffff;
  }
  
  .specials .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .specials .nav-link {
      border: 0;
      padding: 15px;
    }
  
    .specials .nav-link.active {
      color: #2e2e2e;
      background: #fd960f;
    }
  }
   /*Sobre nós*/
   .about {
    background: #ffffff;
  }
  
  .about .content {
    padding: 0 80px;
  }
  
  .about .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #000000;
    font-family: "lato" sans-serif;
    
  }
  
  .about .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    
  }
  
  .about .content p {
    font-size: 15px;
    
    color: #000000;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li+li {
    margin-top: 15px;
  }
  
  .about .content ul li {
    position: relative;
    padding-left: 26px;
  }
  
  .about .content ul i {
    font-size: 20px;
    color: #fd960f;
    position: absolute;
    left: 0;
    top: 2px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
  }
  
  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#fd960f 50%, rgba(255, 176, 59, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #ffffff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #fd960f;
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:hover::after {
    border-left: 15px solid #fd960f;
    transform: scale(20);
  }
  
  .about .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #ffffff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
  
  @media (max-width: 1024px) {
  
    .about .content,
    .about .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .about .content {
      padding-top: 30px;
    }
  
    .about .accordion-list {
      padding-bottom: 30px;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  /*Sections em geral*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #0e0e0e;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .section-title h2 span {
    color: #fd960f;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }


  